{{- if .Values.lenses.provision.enabled}}
kind: Secret
apiVersion: v1
metadata:
  name: {{include "provisionFullname" .}}
  labels:
    app: {{include "fullname" .}}
    chart: {{printf "%s-%s" .Chart.Name .Chart.Version}}
    release: {{.Release.Name}}
    heritage: {{.Release.Service}}
    lenses.io/app: {{include "fullname" .}}
    lenses.io/app.type: lenses-provision-secret
data:
{{- if .Values.lenses.provision.secrets}}
  {{- toYaml .Values.lenses.provision.secrets.data | nindent 2}}
{{- end}}
stringData:
{{- if .Values.lenses.provision.secrets}}
  {{- toYaml .Values.lenses.provision.secrets.stringData | nindent 2}}
{{- end}}
  provision.yaml: |-
    {{- toYaml (required "provision.yaml is required to provision Lenses" .Values.lenses.provision.yaml) | nindent 4}}
{{- end}}
